:root {
    --dark: #031214;
    --light: #863227c5;
    --splash: #c3e9e2;
}

header {
    background-image: linear-gradient(
        #a13223c5 0%,
        black 100%
    );
    padding-left: 30px;
}

h1, 
h2,
h3,
h4, 
h5,
h6, 
.h1, 
.h2, 
.h3, 
.h4, 
.h5, 
.h6 {
    color: var(--splash);
}

.card {
    background-image: linear-gradient(
        #a13223c5 50%,
        #345155 100%
    );
    border: solid 2px black;
    border-radius: 10px;
    color: var(--splash);
    box-shadow: 5px 5px 2px var(--splash);
    margin: 20px;
    font-size: large;
    padding-top: 8px;
}

.btn {
    background-color: white;
    color: black;
    margin: 5px;
}